* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-24 {
  padding: 24px;
}

button {
  background-color: rgb(148, 166, 247);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  border: 2px solid gray;
}

.price-btn-wrapper {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  background-color: white;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: #000;
}

.not-found-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
